# Git
.git
.gitignore
.gitattributes

# Builds
build/
out/

# IDEs
.idea/
.vscode/
*.iml

# Gradle
.gradle/
gradle-app.setting

# Divers
.DS_Store
README.md
docker-compose.yml
Dockerfile
.dockerignore
